@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Set Up */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Dancing Script', cursive; 
	overflow-x: hidden;
	color: #fff;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.bg-img { 
	display: block;
	width: 100%;
	min-height: 100%;
	background: url("../bg-img.jpg") no-repeat 50% 50%;
	background-size: cover;
	z-index: -1;
}

/* Landing Page */  
.nav {
	background-color: #a1271f;
	width: 100%;
	height: 2rem;
}

.nav-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	line-height: 1.3rem;
}

.nav-link li {
	display: inline-block;
	margin-top: 0.2rem;
}

.nav-link li a {
  	padding: 0.5rem;
	font-size: 0.7rem;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-link li a:hover {
	border-bottom: 1px solid cream;
}

.main-content {
	display:flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin: auto auto;
}

.business-name {
	font-size: 8rem;
}

.slogan {
	font-size: 1.5rem;
	margin-top: -1rem;
}

.business-name, .slogan, .music-btn {
	display: absolute;
	text-align: center;
}

.music-btn {
	margin-top: 1rem;
}

.btn {
	display: block;
	width: 80px;
	height: 50px;
	border-radius: 0.5rem;
 	outline: none;
	border: none;
}

.btn a {
 	text-decoration: none;
	text-transform: uppercase;
}

.music-btn {
 	background: #a1271f;
	text-transform: capitalize;
	animation: appear 3s linear 1s;
}

@keyframes appear {
	0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.music-btn:hover {
	opacity: 0.9;
}


/* About */
.content-header {
	text-align: center;
	margin-top: 1rem;
}

.about-img {
	background: url("../about-img.jpg") no-repeat center 95%;
	float: left;
	height: 10rem;
   width: 10rem;
   margin: 0.9rem;
	border: none;
	border-radius: 50%;
	background-size: cover;	
}

.about-us {
	margin: 1rem;
}

.content {
	height: 100%;
}

.about-us p span {
	font-size: 2rem;
	text-weight: bolder;
}

.about-us p {
	text-indent: 0.6rem;
	font-size: 1rem;
	margin-bottom: 1.3rem;
}

.contact-section {
	margin-left: 200px;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100vw - 30%);
	background-color: rgba(0, 0, 0, 0.5);
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
}

.contact-form input, .contact-form textarea {
	padding: 0.5rem;
}

.contact-form input {
	width: 50%;
	height: 30px;
	border: none;
	outline: none;
}

.contact-form textarea {
	width: 100%;
	height: 200px;
}

.contact-form textarea[type=text] {
	border: none;
	outline: none;
}

.contact-form input:hover,  .contact-form textarea {
	border: 1px solid #a1271f;
}

.contact-form, .contact-info {
	width: 50%;
	align-self: center;
}

.contact-form label, .contact-form input, .contact-form textarea, .contact-info h5, .contact-info span {
	margin-bottom: 0.5rem;
}

.contact-info div {
	display: flex;
}

.contact-info h5 {
	font-size: 1rem;
	margin-left: 0.3rem;
}

.contact-info h5, .contact-info span {
	width: 50%;
	margin-top: 0.5rem;
}


/* Lessons */
.lessons {
	margin-left: 1rem;
	width: calc(100vw - 10%);
	margin: 0 auto;
}

.lessons p {
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
}

.class-title {
	font-size: 2rem;
	margin: 0.3rem 0.3rem;
	text-transform: uppercase;
	
}

.class-title:after {
	content: ""; 
   display: block; 
	width: 10%; 
	border-bottom: 1px dashed #a1271f;
	border-bottom-width: thick;
}

.lesson-items {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.lesson-item {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.lesson-title {
	font-size: 1.5rem;
}

.lessons p, .lesson-desc, .lesson-price, .schedule-btn {
	align-self: center;
	margin: auto;
}

.lessons p, .lesson-desc, .lesson-price {
	font-size: 1.3rem;
	width: 100%;
	text-align: center;
}

.lesson-title, .lesson-price, .schedule-btn {
	flex: 1;
}

.lesson-desc {
	flex: 2;
}

.schedule-btn, .send-btn {
	width: 100px;
	height: 50px; 
	background-color: #a1271f;	
}



.lesson-container:last-child {
	border-bottom: none;
}

/* <div class="content">
		<h1 class="content-header">LESSONS</h1>
		<section class="lessons">
			<p>Enjoy our private lessons in everything from piano to xlyphone. Lessons range from beginner to expert and last two two to three times a week for eight weeks.</p>
			<p>For more information or to schedule a music lesson, please contact us at (000)-000-0000 or reach out to us by email at musica@gmail.com.</p>
			<div class="lesson-items">
				<h2 class="class-title">Piano</h2>
				<div class="lesson-item">
					<h4 class="lesson-title">Learn The Basics</h4>
					<span class="lesson-desc">learn the basic keys of the piano as well as how to read music notes.</span>
					<span class="lesson-price">$10</span>
				</div>
		</section>
	</div> */

