/* Set Up */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: "monteserrat", sans-serif;
	overflow-x: hidden;
	color: #fff;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.bg-img { 
	display: block;
	width: 100%;
	min-height: 100%;
	background: url("../bg-img.jpg") no-repeat 50% 50%;
	background-size: cover;
	z-index: -1;
}

/* Landing Page */  
.nav {
	background-color: #a1271f;
	width: 100%;
	height: 2rem;
}

.nav-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	line-height: 1.3rem;
}

.nav-link li {
	display: inline-block;
	margin-top: 0.2rem;
}

.nav-link li a {
  	padding: 0.5rem;
	font-size: 0.7rem;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-link li a:hover {
	border-bottom: 1px solid cream;
}

.main-content {
	display:flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin: auto auto;
}

.business-name {
	font-size: 8rem;
}

.slogan {
	font-size: 1.5rem;
	margin-top: -1rem;
}

.business-name, .slogan, .music-btn {
	display: absolute;
	text-align: center;
}

.music-btn {
	margin-top: 1rem;
}

.btn {
	display: block;
	width: 80px;
	height: 50px;
	border-radius: 0.5rem;
 	outline: none;
	border: none;
}

.btn a {
 	text-decoration: none;
	text-transform: uppercase;
}

.music-btn {
 	background: #a1271f;
	text-transform: capitalize;
	animation: appear 3s linear 1s;
}

@keyframes appear {
	0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.music-btn:hover {
	opacity: 0.9;
}


/* About */
.content-header {
	text-align: center;
	margin-top: 1rem;
}

.about-img {
	background: url("../about-img.jpg") no-repeat center 95%;
	float: left;
	height: 10rem;
   width: 10rem;
   margin: 0.9rem;
	border: none;
	border-radius: 50%;
	background-size: cover;
	
}

.about-us {
	margin: 1rem;
}

.content {
	height: 100%;
}

.content p {
	text-indent: 0.6rem;
	font-size: 1rem;
	margin-bottom: 1.3rem;
}


/* Lessons */
.lessons {
	margin-left: 1rem;
}

.lessons p {
	margin-top: 1.4rem;
	font-size: 1rem;
}

.lesson-title {
	font-size: 2.1rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	
}

.lesson-title:after {
	content: ""; 
   display: block; 
	width: 10%; 
	border-bottom: 1px dashed #a1271f;
	border-bottom-width: thick;
}

.lesson-container {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #fff;
	margin-botom: 1rem;
}

.lesson-container:last-child {
	border-bottom: none;
}

.section-left {
 	float: left;
}

.section-right {
	float: right;
}

.lesson-prices {
	display: flex; 
	flex-direction: column;
	justify-content: flex-end;
	float: right;
	width: 100%;
	overflow: auto;
}

.lesson-prices::after {
	content: "";
	clear: both;
	display: table;
}

.lesson-price {
	margin: 2rem 90%;
	font-size: 0.9rem;
}

.lesson-topics, .lesson-desc {
	text-align: center;
	margin: auto;
}

.lesson-topics {
	float: left;
	width: 70%;
	margin-top: 0.3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
}

.lesson-desc {
	display: absolute;
	font-size: 1.3rem;
	list-style: none;
	text-indent: 0.5rem;
	margin: 0 auto;
}


/* This is necessary for the pseudo element to work. */ 
/* This will put the pseudo element on its own line. */
/* Change this to whatever width you want. */
